<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EnglishLending</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="sticky-top">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-toggleable-sm navbar-light mb-3 nav-fade">
                <img src="Images/Logo.png">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-md-inline-flex flex-md-row-reverse">
                    <ul class="navbar-nav flex-grow-1 w-100">
                        <li class="nav-item nav-item-custom text-nav">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Про курс</a>
                        </li>
                        <li class="nav-item nav-item-custom text-nav">
                            <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="Index">Галарея</a>
                        </li>
                        <li class="nav-item nav-item-custom text-nav">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Відгуки</a>
                        </li>
                    </ul>
                </div>
                <p class="text-nav text-light">+380 67 431 19 21<br>+380 73 209 97 43</p>
            </nav>
        </div>
    </header>
    <div class="text-center text-nav container mx-auto">
    <div class="text-light">
        <div class="row justify-content-around title">
            <div class="col-12 col-xl-5"><b>DEEP DIVE</b></div>
            <div class="col-12 col-xl-2" style="font-size:30pt; margin: 0 0px 14px 0px;"><b>INTO</b></div>
            <div class="col-12 col-lg-5"><b> ENGLISH</b></div>
        </div>
        <div class="sub-title">
            <div><b style="font-size:22pt;">піднімемо ваш англійський</b></div>
            <div><b style="font-size:22pt;">на один або два рівні</b></div>
        </div>
        <div class="row schedule justify-content-around">
            <div class="col-6 col-lg-2"><b style="font-size:30pt;">3</b><br>години/день</div>
            <div class="col-6 col-lg-2"><b style="font-size:30pt;">5</b><br>днів/тиждень</div>
            <div class="col-6 col-lg-2"><b style="font-size:30pt;">11</b><br>тижнів</div>
            <div class="col-6 col-lg-2"><b style="font-size:30pt;">66</b><br>днів</div>
            <div class="col-6 col-lg-2"><b style="font-size:30pt;">165</b><br>годин<br>інтенсивного вивчення<br>англійської мови<br>від ІТ-Академії</div>
        </div>
        <button class="button-custom"><p class="text-nav" style="text-align:center;"><b>ПРИЄДНАТИСЬ</b></p></button>
    </div>
    <div class="sub-title2">
        <div><b style="font-size:22pt;">Заняття розраховані</b></div>
        <div><b style="font-size:22pt;">для тих, хто планує:</b></div>
    </div>
    <div class="row text-left justify-content-between font-weight-bold">
        <div class="row align-items-center col-12 col-md-5 my-5">
            <img src="~/images/team.png" class="col-3" alt="змінтити роботу на кращу - де English - Must Have" />
            <div class="col-9">змінтити роботу на кращу - де English - Must Have</div>
        </div>
        <div class="row align-items-center col-12 col-md-5 my-5">
            <img src="~/images/internet.png" class="col-3" alt="релокацію за кордон" />
            <div class="col-9">релокацію за кордон</div>
        </div>
        <div class="w-100"></div>
        <div class="row align-items-center col-12 col-md-5 my-5">
            <img src="~/images/resume.png" class="col-3" alt="пройти співбесіду в компанію з іноземним капіталом" />
            <div class="col-9">пройти співбесіду  в компанію з іноземним капіталом</div>
        </div>
        <div class="row align-items-center col-12 col-md-5 my-5">
            <img src="~/images/promotion.png" class="col-3" alt="стрімкий кар”єрний ріст" />
            <div class="col-9">стрімкий кар”єрний ріст</div>
        </div>
        <div class="w-100"></div>
        <div class="row align-items-center col-12 col-md-5 mt-5">
            <img src="~/images/cap.png" class="col-3" alt="навчання за кордоном" />
            <div class="col-9"><p>навчання за кордоном</p></div>
        </div>
        <div class="row align-items-center col-12 col-md-5 mt-5">
            <img src="~/images/team (1).png" class="col-3" alt="спілкування з англомовним клієнтом чи Native Speaker" />
            <div class="col-9">спілкування з англомовним клієнтом чи Native Speaker</div>
        </div>
    </div>
</div>
    <div id="map" />
    <footer class="my-footer text-muted justify-content-center" style="display:flex">
        <div class="container m-auto row text-white" style="align-items:center">
            <div class="col-3 p-0"><b style="font-size:12pt;">Адреса: вул.Миколи Ващука, 20 а</b></div>
            <div class="col-3 p-0"><b style="font-size:12pt;">Телефон: +38067 431 19 21</b></div>
            <div class="col-3 p-0"><b style="font-size:12pt;">info@intita.com</b></div>
            <div class="col-3 p-0">
                <a href="#"><img class="px-1" src="~/images/instagram.png" alt="Alternate Text" /></a>
                <a href="#"><img class="px-1" src="~/images/Facebook.png" alt="Alternate Text" /></a>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
