* {
    margin: 0;
    padding: 0;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
  width: 100%;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    background-color: #FFFFFF;
    background-image: url("../images/4k-wallpaper-hd-wallpaper-nature-1452701.png");
    background-position-x:center;
    background-repeat: no-repeat;
    font-family: 'Palatino Linotype';
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.nav-item-custom {
    text-align:center;
    width:30%;
}

.text-nav {
    font-size: 14pt;
    margin:0;
}

.button-custom {
  width: 360px;
  height: 60px;
  background-color: #FFFFFF;
}

.title {
  align-items: flex-end;
  font-size: 60pt;
  margin-top: 140px;
  justify-content:center;
}

.sub-title {
  margin-top: 70px;
}

.sub-title2 {
  margin-top: 250px;
}

.photo-place {
  background-image: url('../images/Layer 21.png');
  background-repeat:no-repeat;
  background-position-x:center;
  padding-top: 210px;
  height: 1120px;
}

.carousel {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  margin-top: 130px;
  padding: 35px 0;
}

.carousel-images {
  margin-left: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.carousel-images img {
  display: flex;
  width: 356px;
  height: 285px;
  background-color: aqua;
  transition: .5s;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.carousel-prev {
  width: 70px;
  height: 70px;
  background-image: url('../images/icons8_back_70px.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
  position: absolute;
  left: 0;
  cursor: grab;
}

.carousel-next {
  width: 70px;
  height: 70px;
  background-image: url('../images/icons8_back_70px.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
  position: absolute;
  right: 0;
  transform: rotate(180deg);
  cursor: grab;
}
.frame {
  position: absolute;
  bottom: 11px;
  left: 338px;
  transition: .5s;
}

@media (max-width: 1199px) {
  .title {
      margin-top: 0px;
  }
  .sub-title {
    margin-top: 0px;
  }
  .sub-title2 {
    margin-top: 200px;
  }
}

@media (max-width: 991px) { 
  .sub-title2 {
      margin-top: 110px;
  }
}